body {
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: #e0e8ff;
  background-size: cover;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

.card {
  width: 400px;
  height: 500px;
  padding-top: 200px;
  background-image: url("../images/illustration-hero.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  border-radius: 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.description {
  width: 80%;
  margin: auto;
  color: #949aac;
}

.plan {
  background-color: #f8f9fe;
  width: 80%;
  padding: 20px 0;
  margin: 50px auto;
  border-radius: 20px;
  text-align: justify;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  line-height: 1.5;
}

.plan .icon {
  flex: 1;
  margin: 0 20px;
}
.plan .change-btn {
  flex: 1;
  margin-right: 10px;
  text-decoration: underline;
  border: none;
  background-color: inherit;
  font-weight: 700;
  margin-left: 10px;
}
.plan .change-btn:hover {
  color: #766cf1;
}
.plan .details {
  flex: auto;
}
.plan h4 {
  margin: 0;
}

.proceed {
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 94%);
  width: 80%;
  padding: 20px 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 30px;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 20px 29px 0 #28303c5d;
}
.proceed:hover {
  background-color: blueviolet;
}

.cancel {
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  border: none;
  font-size: 1rem;
  font-weight: 700;
}

.attribution {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10px;
}
